.header {
    .inner {
        width: 1250px;
        margin:0 auto;
        padding:53px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
    }
    .logo {
        transform: translateY(-10px);
        img {
            width: 185px;
        }
    }
    .gnb-nav {        
        a:not(:last-child) {
            margin-right: 35px;
        }
    }
    .personalization-wrap {
        display: flex;
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 178px;
            height: 49px;
            background: #FFF;
            border: 2px solid #000;
            box-sizing: border-box;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            & + a {
                margin-left: 15px;
            }
        }        
    }
    .login-info {
        margin-left: 15px;
        padding-left: 58px;
        position: relative;
        height: 49px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__img {
            position: absolute;
            left:0;
            top:0;
            width: 48px;
            height: 48px;
            border: 2px solid #000;
            border-radius: 50%;
            background-color: #40A0CC;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 70%;
            }
        }
        &__id {
            font-size: 16px;
        }
        &__disconnect {
            font-size: 11px;
            text-decoration: underline;
            margin-top: 7px;
        }
    }
}
/* main */
.index-page {
    padding-bottom: 50px;
}
.banner-zone {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin:36px auto 0;
    a {
        display: flex;
        width: 605px;
        height: 140px;
        overflow: hidden;
        background: #40A0CC;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        line-height: 1;
        color:#fff;
        padding:40px;
        box-sizing: border-box;
    }
    &__how {
        &::before {
            content: '';
            width: 95px;
            height: 136px;
            background: url(../img/img_filot.svg) no-repeat 0 0 / cover;
            transform: rotate(-15deg);
            position: absolute;
            right: 104px;
            top:24px;
        }
        &::after {
            content: '';
            width: 95px;
            height: 136px;
            background: url(../img/img_filot.svg) no-repeat 0 0 / cover;
            transform: rotate(15deg);
            position: absolute;
            right: 58px;
            top:-10px;

        }
    }
    &__about {
        &::after {
            content: '';
            width: 123px;
            height: 102px;
            background: url(../img/ico_filot.svg) no-repeat 0 0 / cover;
            position: absolute;
            right: 66px;
            top:14px;
            transform: rotate(4.99deg);
        }
    }
}

.cont-wrap {
    display: flex;
    max-width: 1250px;
    margin:50px auto 0;
    justify-content: space-between;    
    & + .cont-wrap {
        margin-top: 40px;
    }
    & > article {
        width: 605px;
        position: relative;
    }
    h2 {
        font-size: 26px;
    }
    .link-history {
        font-size: 14px;
        text-decoration: underline;
        position: absolute;
        right:0;
        top:5px;
        font-family: 'Avenir';
        font-weight: 800;        
    }   
}

.card-wrap {
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    min-height: 340px;
    padding:40px;
    display: flex;
    flex-direction: column;    
    &__top {
        display: flex;
        align-items: center;
    }
    &__tit {
        font-size: 24px;
    }
    &__stit {
        font-size: 12px;
        margin-top: 5px;
    }
    .status-box {
        margin-left: auto;
    }
    .api-connect {
        display: inline-flex;
        border: 2px solid #25DF43;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'Avenir';
        font-weight: 800;
        font-size: 12px;
        color:#25DF43;
        margin-left: 20px;
        padding:3px 30px 2px 10px;
        background: url(../img/ico_connect.svg) no-repeat right 10px top 45% / 14px;
    }
    & > .btn {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        border: 2px solid #000;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        height: 49px;
        font-size: 16px;
        cursor: pointer;
    }
}

.status-box {
    &__per {
        font-size: 26px;    
    }
    &__category {
        font-size: 15px;
        &::before {
            content: '/';
            margin-right: 5px;
        }
    }
}

.filot-chart {
    background: #D9F1FC;
    border-radius: 10px;
    height: 140px;
    box-sizing: border-box;
    margin-top: 5px;
    padding:25px;
    position: relative;
    &__label {
        position: absolute;
        font-size: 12px;
        left:25px;        
    }
    &__plus {
        top:17px;
    }
    &__minus {
        bottom:15px;    
    }
    &__none {
        color:rgba(0, 0, 0, 0.5);
        .filot-chart__list {
            background-color: rgba(0,0,0,.2);
        }
    }
    &__list {
        position: absolute;
        display: flex;
        height: 2px;
        width: calc(100% - 50px);
        background-color: #000;
        left:25px;
        top:70px;
    }
    &__limit {
        width: 7px;
        height: 35px;
        &:not(&:last-child) {
            margin-right: 1px;
        }
        i {
            display: block;
            width: 100%;
        }
    }
    &__upper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        transform: translateY(-35px);
        i {
            background-color: #57AFD5;
        }
    } 
    &__lower {
        transform: translateY(2px);
        i {
            background-color: #F79999;
        }
    }
}

.binance-key {
    margin-top: 15px;
    &__tit {
        font-size: 12px;
    }
    .input--text + .binance-key__tit {
        margin-top: 16px;
    }
}

.input {
    &--text {
        display: flex;
        width: 100%;
        height: 37px;
        margin-top: 8px;
        align-items: center;
        background: #fff;
        padding:0 10px;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 17px;
        font-family: 'Avenir';
	    font-weight: 400;
        &::placeholder {
            color:#9B9B9B;
        }
        &:disabled {
            background: #EAEAEA;
            color:#9B9B9B;
            border-color: #eaeaea;
        }
    }
}

.insert-wrap {
    position: relative;
    padding-left: 180px;
    &__status {
        position: absolute;
        left: 0;
        top:0;
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;        
        border-radius: 10px;
        img {
            width: 81px;
        }
    }
    &__insert {
        background-color: #40A0CC;
    }
    &__none {
        background-color: #C5E1ED;
    }
    &__id {
        position: absolute;
        left: 0;
        top: 180px;
        font-size: 18px;
    }
    .fnt-info {
        margin-top: 19px;
        margin-bottom: 30px;
    }
    &--testing {
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top:0;
            background-color: rgba(255,255,255,.7);
        }
    }
}

.fnt-info {
    display: flex;
    flex-wrap: wrap;
    li {
        margin-bottom: 5px;
        font-family: 'Avenir';
        font-weight: 800;
    }
    &--third {
        li {
            width: 33.3333%;            
        }
    }
    &--half {
        li {
            width: 50%;
        }
    }
    &__label {
        font-size: 9px;
        [class$=--half] & {
            font-size: 12px;
        }
    }
    &__value {
        font-size: 14px;
        [class$=--half] & {
            font-size: 22px;
        }
    }
}

.filot-wrap {
    max-width: 1250px;
    margin:40px auto 0;
    h2 {
        font-size: 26px;
    }
    &__list {
        display: flex;
        margin-top: 30px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            background: #40A0CC;
            border-radius: 10px;
            img {
                width: 130px;
            }
            &:not(&:nth-child(4n)) {
                margin-right: 16px;
            }            
        }
        .--none {
            border: 2px solid #40A0CC;
            box-sizing: border-box;
            background-color: transparent;
        }
    }    
}

/* download */
.download-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:160px 0;
    max-width: 1250px;
    margin:0 auto;
    text-align: center;
    &__tit {
        font-size: 32px;
    }
    &__img {
        width: 189px;
        margin:82px auto 0;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 73px;
        margin:73px auto 0;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    &__txt {
        margin-top: 17px;
        font-size: 14px;
    }
}
.page-top {        
    display: flex;
    margin-bottom: 10px;
    .tab-nav {
        margin-left: auto;
    }
    &__tit {
        font-size: 32px;
    }
}
/* dao */
.sub-page {
    max-width: 1250px;
    margin:100px auto 0;
    .cont-wrap {
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .card-wrap {
        padding:30px;
        min-height: 265px;
    }
    .tit {
        font-size: 22px;
    }
    .stit {
        font-size: 14px;
        &.backtest {
            margin-top: 28px;
            line-height: 180%;
        }
    }
    .btn_join {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 49px;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-sizing: border-box;
        margin-top: 13px;
        margin-bottom: 50px;
    }
}
.tab-nav {
    background: #87B5C9;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    height: 49px;
    &__item {        
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding:0 47px;
        height: 45px;
    }
    &--focused {
        z-index: 1;
        background-color: #fff;
        border-radius: 10px;
        border: 2px solid #000000;
        transform: translate(-2px,-3px);
        &:not(&:first-child) {
            transform: translate(2px,-3px);
        }
    }
}
.proposals-list {
    margin-top: 0;
    width: 605px;
    margin-bottom: 40px;
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__tit {
        max-width: 410px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 21px;
    }
    &__status {
        border-radius: 5px;
        color:#fff;
        font-size: 14px;
        margin-left: auto;
        display: flex;
        width: 105px;
        height: 27px;
        justify-content: center;
        align-items: center;
        font-weight: 400;
    }
    &--open {
        background-color: #7DC95A;
    }
    &--closed {
        background-color: #868686;
    }
    &__txt {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        font-size: 14px;
        font-weight: 400;
        line-height: 180%;
        margin-bottom: 18px;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 32px;
        height: 32px;
        border: 2px solid #000;
        border-radius: 50%;
        background-color: #40A0CC;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;
        }
    }
    &__id {
        margin-left: 12px;
        font-size: 14px;
    }
}
.backtest-wrap {
    max-width: 1250px;
    margin:40px auto 0;
    display: flex;
    justify-content: space-between;
    &__cont {
        width: 605px;
        .card-wrap {
            margin-top: 0;
            padding:40px;
        }
    }
    .banner-zone {
        display: block;
        margin:0;
        a {
            margin-top: 40px;
        }
    }
}
@include mobile {

}